html{
    scroll-behavior:smooth;
}
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:
linear-gradient(
135deg,
#020617,
#081c4b,
#581c87
);

color:white;

font-family:
'Segoe UI',sans-serif;

min-height:100vh;
}

.navbar-custom{

background:
rgba(0,0,0,0.25);

backdrop-filter:
blur(10px);

padding:15px 40px;

border-bottom:
1px solid rgba(255,255,255,.1);
}

.logo{
font-size:35px;
font-weight:bold;
}

.hero{
text-align:center;
padding:60px 0;
}

.hero h1{
font-size:60px;
font-weight:bold;
}

.hero p{
font-size:22px;
color:#d1d5db;
}

.glass{

background:
rgba(255,255,255,.05);

backdrop-filter:
blur(15px);

border:
1px solid rgba(
255,255,255,.1);

border-radius:25px;

padding:25px;

height:100%;

box-shadow:
0 8px 30px rgba(0,0,0,.4);
}
.predict-btn{

background:
linear-gradient(
90deg,
#9333ea,
#3b82f6
);

border:none;

width:100%;

padding:14px;

color:white;

font-size:20px;

border-radius:12px;
}

.result-circle{

width:250px;
height:250px;

border-radius:50%;

border:15px solid #8b5cf6;

display:flex;
justify-content:center;
align-items:center;

font-size:50px;
font-weight:bold;

margin:auto;
}

.mini-card{

background:
rgba(255,255,255,.05);

padding:15px;

border-radius:15px;

margin-bottom:15px;
}

.analytics-card{

background:
rgba(255,255,255,.05);

padding:15px;

border-radius:15px;
}

.footer{
text-align:center;
padding:30px;
color:#d1d5db;
}
.hero{
text-align:center;
padding:60px 0;
}

.hero h1{
font-size:60px;
font-weight:bold;
}

.hero p{
font-size:22px;
color:#d1d5db;
}
.progress-bar{

background:
linear-gradient(
90deg,
#9333ea,
#3b82f6
);
}
.input-group-text{
    background: rgba(255,255,255,0.1);
    color:white;
    border:none;
}

.form-control{
    background: rgba(255,255,255,0.05);
    color:white;
    border:1px solid rgba(255,255,255,0.1);
}

.form-control::placeholder{
    color:#cfcfcf;
}
.progress{
    height:12px;
    border-radius:20px;
    background:#222;
}

.progress-bar{
    background:linear-gradient(
        90deg,
        #8a2be2,
        #3b82f6
    );
}
.active-link{
    color:white !important;
    border-bottom:3px solid #3b82f6;
    padding-bottom:8px;
}
html{
    scroll-behavior:smooth;
}

.active-link{
    color:white !important;
    border-bottom:3px solid #3b82f6;
    padding-bottom:8px;
}

.navbar-custom{
    position:sticky;
    top:0;
    z-index:999;
}

.predict-btn:hover{
    transform:translateY(-3px);
    transition:.3s;
    box-shadow:0 0 20px #9333ea;
}

.mini-card:hover{
    transform:translateY(-5px);
    transition:.3s;
}

.analytics-card{
    min-height:100px;
}
.nav-link{
color:white !important;
font-weight:600;
padding-bottom:8px;
}

.active-link{
border-bottom:3px solid #4da6ff;
color:white !important;
}

html{
scroll-behavior:smooth;
}
#about,
#features{
    padding:40px;
    margin-top:50px;
}